<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>front.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OnServletLogin</servlet-name>
    <servlet-class>com.servlet.OnServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnServletLogin</servlet-name>
    <url-pattern>/OnServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementSubmit</display-name>
    <servlet-name>ReimbursementSubmit</servlet-name>
    <servlet-class>com.servlet.ReimbursementSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementSubmit</servlet-name>
    <url-pattern>/ReimbursementSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffWelcome</display-name>
    <servlet-name>StaffWelcome</servlet-name>
    <servlet-class>com.servlet.StaffWelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffWelcome</servlet-name>
    <url-pattern>/StaffWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffPage</display-name>
    <servlet-name>StaffPage</servlet-name>
    <servlet-class>com.servlet.StaffPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffPage</servlet-name>
    <url-pattern>/StaffPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletedPage</display-name>
    <servlet-name>CompletedPage</servlet-name>
    <servlet-class>com.servlet.CompletedPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletedPage</servlet-name>
    <url-pattern>/CompletedPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployees</display-name>
    <servlet-name>ViewAllEmployees</servlet-name>
    <servlet-class>com.servlet.ViewAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployees</servlet-name>
    <url-pattern>/ViewAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingApps</display-name>
    <servlet-name>PendingApps</servlet-name>
    <servlet-class>com.servlet.PendingApps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingApps</servlet-name>
    <url-pattern>/PendingApps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFound</display-name>
    <servlet-name>SearchFound</servlet-name>
    <servlet-class>com.servlet.SearchFound</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFound</servlet-name>
    <url-pattern>/SearchFound</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aod</display-name>
    <servlet-name>aod</servlet-name>
    <servlet-class>com.servlet.aod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aod</servlet-name>
    <url-pattern>/aod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modified</display-name>
    <servlet-name>modified</servlet-name>
    <servlet-class>com.servlet.modified</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modified</servlet-name>
    <url-pattern>/modified</url-pattern>
  </servlet-mapping>
</web-app>